
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Ubuntu:ital,wght@1,500&display=swap');
/*heading*/
* {
  margin: 0;
  padding: 0;
  border: none;
}

h1,
h2 {
  font-family: 'Orbitron',"sans-serif" ;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
  color:#2B2B2B;
}
/* Style body */
body {
  background-color:#00B4D8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* Style footer */
footer {
  padding-top: 25px;
  margin: 0 auto;
  height: 50px;
  bottom: 0;
  /* height: auto; */
  width: 40%;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.social-media {
  text-align: center;
  /* border: 1px solid black; */
}

.social-media>li {
    display: inline;
    margin: 2em;
    vertical-align:bottom;
    /* padding-top: 15px;
    padding-bottom: 15px; */
    /* border: 1px solid black; */
}

.social-media i {
  font-size: 160%;
  margin: 1%;
  /* padding: 5%; */
  color:#2B2B2B;
  /* border: 1px solid black; */
}
/* Style instructions button */
.instructions-btn{
  background: #0077B6;
  color: black;
  height: 30px;
  width: 120px;
  font-family: "ubuntu", "sans-serif";
  cursor: pointer;
  margin: auto;
  display: block;
  padding-bottom: 10px;
  border-radius: 15px;
  text-align: center;
  line-height: 2.5em;
  text-decoration: none;
}
/* Style feedback button */
.feedback-btn {
  background:#0077B6;
  color: black;
  height: 30px;
  width: 120px;
  font-family: "ubuntu","sans-serif";
  cursor: pointer;
  margin: auto;
  display: block;
  padding-bottom: 10px;
  border-radius: 15px;
  text-align: center;
  line-height: 2.5em;
  text-decoration: none;
}
/* Style let's play button */
.letsplay-btn{
  background:#0077B6;
  color: black;
  height: 30px;
  width: 120px;
  font-family: "ubuntu","sans-serif";
  cursor: pointer;
  margin: auto;
  display: block;
  padding-bottom: 10px;
  border-radius: 15px;
  text-align: center;
  line-height: 2.5em;
  text-decoration: none;
}
/* Style rules in feedback-section */
.rules{
  text-align: left;
  font-family: "ubuntu","sans-serif";
  font-size: 25px;
  margin: 10px;
  padding: 20px 0px 50px 50px;

}
/* Style feedback form */
#fname {
  padding: 13px 5px;
  border: 1px solid black;
  width: 100%;
  border-radius: 8px;
}

#email {
  padding: 13px 5px;
  border: 1px solid black;
  width: 100%;
  border-radius: 8px
}

#message {
  padding: 13px 5px;
  border: 1px solid black;
  width: 100%;
  border-radius: 8px;
  font-family: 'source sans pro', 'open sans';
  resize: none;
}

.contact-bg {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-size: cover;
}

.contact-form {
  text-align: center;
  font-size: 18px;
  padding: 20px 20px 20px 20px;
  background-size: contain;
  font-family: 'open sans', sans-serif;
  
}

#contact {
  text-align: center;
}
/* Style submit button */
.btn-submit {
  background: #0077B6;
  color: black;
  font-family: "ubuntu";
  height: 30px;
  width: 100px;
  cursor: pointer;
  border-radius: 8px;
  margin: 20px;
}

 .feedback-us {
    background-color:#0077B6;
    color: black;
    font-family: "ubuntu","sans-serif";
    cursor: pointer;
    padding: 18px;
    margin: auto;
    width: 10%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    text-decoration: none;
}


/* Mobile Responsiveness Start */
@media only screen and (max-width: 600px) {
  
  .text-box {
    width: 20px;
    height: 20px;
    text-align: center;
    border: 3px solid #00B4D8;
    border-radius: 8px;
  }

  .wordle-section {
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  .text-box-row {
    padding-top: 20px;
    padding-left: 50px;
    margin: auto;
    gap: 10px;
  }

  .word-check-btn {
    height: 20px;
    width: 100px;
    font-family: "ubuntu", "sans-serif";
    font-weight: 20px;
    background-color: #0077B6;
    border-radius: 5px;
  }
  .menu-section {
    padding-top: 25px;
  }
}

/* Tablet/Laptop/Desktop Responsiveness Start */
@media only screen and (min-width: 600px) {

  .text-box {
    width: 30px;
    height: 30px;
    text-align: center;
    padding-left: 5px;
    border: 3px solid #00B4D8;
    border-radius: 8px;
  }
  
  .wordle-section {
    font-size: 16px;
    width: 40%;
    margin: 0 auto;
    /* padding: 25px 50px 75px 100px;  */
    align-items: center;
    /* border: 1px solid black; */
  }
  
  .text-box-row {
    /* padding: 10px; */
    display: flex;
    padding-top: 10px;
    margin: 0 auto;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .word-check-btn {
    height: 30px;
    width: 100px;
    font-family: "ubuntu", "sans-serif";
    font-weight: 20px;
    background-color: #0077B6;
    border-radius: 5px;
  }

 .menu-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    padding-top: 30px;
    /* border: 1px solid black; */
  } 
}