
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Ubuntu:ital,wght@1,500&display=swap');
/*heading*/
* {
  margin: 0;
  padding: 0;
  border: none;
}

h1,
h2 {
  font-family: 'Orbitron', 'Charm';
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
  color:#2B2B2B;
}

body {
  background-color:#00B4D8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.text-box {
  
  width: 30px;
  height: 30px;
  text-align: center;
  padding-left: 5px;
  border: 3px solid #00B4D8;
  border-radius: 8px;
  
  /*box-shadow: 5px 5px 5px lightcoral;*/
  /* margin: auto;
  width: 5rem;
  padding: 20px 50px 0px 0px ;
  line-height: 2.5em;
  row-gap: 20px; */
}

.wordle-section {
  font-size: 16px;
  width: 30%;
  margin: 0 auto;
  padding: 25px 50px 75px 100px; 
  align-items: center;
}

.text-box-row {
  /* padding: 10px; */
  padding-top: 20px;
  margin: auto;
  gap: 10px;
  
}

.word-check-btn {
  height: 30px;
  width: 100px;
  font-family: "ubuntu";
  font-weight: 20px;
  background-color: #0077B6;
  border-radius: 5px;
}
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

footer {
    height: 50px;
    bottom: 0;
    /* height: auto; */
    width: 100%;
}

.instructions-btn{
  background: #0077B6;
  color: black;
  height: 30px;
  width: 120px;
  font-family: "ubuntu";
  cursor: pointer;
  margin: auto;
  display: block;
  padding-bottom: 10px;
  border-radius: 15px;
  text-align: center;
  line-height: 2.5em;
  text-decoration: none;
}

.feedback-btn {
  background:#0077B6;
  color: black;
  height: 30px;
  width: 120px;
  font-family: "ubuntu";
  cursor: pointer;
  margin: auto;
  display: block;
  padding-bottom: 10px;
  border-radius: 15px;
  text-align: center;
  line-height: 2.5em;
  text-decoration: none;
}

.letsplay-btn{
  background:#0077B6;
  color: black;
  height: 30px;
  width: 120px;
  font-family: "ubuntu";
  cursor: pointer;
  margin: auto;
  display: block;
  padding-bottom: 10px;
  border-radius: 15px;
  text-align: center;
  line-height: 2.5em;
  text-decoration: none;
}
.rules{
  text-align: left;
  font-family: "ubuntu";
  font-size: 25px;
  margin: 10px;
  padding: 20px 0px 50px 50px;

}

#fname {
  padding: 13px 5px;
  border: 1px solid black;
  width: 100%;
  border-radius: 8px;
}

#email {
  padding: 13px 5px;
  border: 1px solid black;
  width: 100%;
  border-radius: 8px
}

#message {
  padding: 13px 5px;
  border: 1px solid black;
  width: 100%;
  border-radius: 8px;
  font-family: 'source sans pro', 'open sans';
  resize: none;
}

.contact-bg {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-size: cover;
}

.contact-form {
  text-align: center;
  font-size: 18px;
  padding: 20px 20px 20px 20px;
  background-size: contain;
  font-family: 'open sans', sans-serif;
  
}

#contact {
 
  text-align: center;
}

.btn-submit {
  background: #0077B6;
   color: black;
  height: 30px;
  width: 100px;
  cursor: pointer;
  border-radius: 8px;
  margin: 20px;
}

 .feedback-us {
    background-color:#0077B6 ;
    color: black;
    cursor: pointer;
    padding: 18px;
    margin: auto;
    width: 10%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    text-decoration: none;
}
/* .feedback-us:hover{ 
  background-color: lightgreen;
 } */

.social-media {
  text-align: center;
}

.social-media>li {
    display: inline;
    margin-right: 5em;
    vertical-align:bottom;
    padding-top: 15px;
    padding-bottom: 15px;
}

.social-media i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color:#2B2B2B;
}
